name: Android CI Release

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
                 
      - name: Set up JDK 21
        uses: actions/setup-java@v3.9.0
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean && ./gradlew assembleRelease

      - name: Upload release apk
        uses: actions/upload-artifact@v3
        if: ${{ !github.head_ref }}
        with:
          name: apk-release
          path: app/build/outputs/apk/release/app-release.apk
  
      - name: Upload mapping files
        uses: actions/upload-artifact@v3      
        if: ${{ !github.head_ref }}
        with:
          name: mapping
          path: app/build/outputs/mapping